################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/__pycache__
/.claude
/meshcore-theme/domoticz-sources
/scripts/dzVents/generated_scripts/meshcore_status_report.lua
